{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login Zeitify</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="auth-body">
<section class="registration-container">
<div class="registration-card">
<div class="app-title">Zeitify</div>
<div class="app-subtitle">Bitte melde dich an</div>


      {% if messages %}
<div class="auth-messages">

          {% for message in messages %}
<div class="auth-message {{ message.tags }}">

              {{ message }}
</div>

          {% endfor %}
</div>

      {% endif %}
<form method="post" action="{% url 'login' %}">

        {% csrf_token %}
<input

          type="email"

          name="email"

          placeholder="E-Mail Adresse"

          required
>

<input

          type="password"

          name="password"

          placeholder="Passwort"

          required
>
<select name="role" required>
<option value="" disabled selected>Rolle auswaehlen</option>
<option value="simple">Anwender</option>
<option value="vip">VIP Anwender</option>
<option value="admin">Administrator</option>
</select>
<button type="submit">Anmelden</button>
<p class="already">

          Noch kein Konto?
<a href="{% url 'registrieren' %}">Jetzt registrieren</a>
</p>
</form>
</div>
</section>
</body>
</html>
 